*{
  border: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden !important;
  font-family: "Raleway", arial, sans-serif;
  scroll-behavior: smooth;
}

/* section nav{
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} */
.navbar,.sidebar{
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: white;
  /* position: fixed; */
  z-index: 1;
}
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.317);
  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding-left: 30px;
}
.sidebar>.right>.moon{
  display: none;
} 
.right>span{
  color:black;
}
.links-1{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.links, .contactus{
  display: flex;
  align-items: center;
}
.links{ 
  gap: 30px;
}
.links > a,.right > a, .links-1>a{  
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}
/* .link a::before{
  content: '';
  position: relative;
  bottom: -10px;
  width: 100%;
  left: 0;
  height: 2px;
  background-color: #86B5A9;
} */
.link:hover {
  text-decoration: underline;
  color: #86B5A9;
  transition: 0.2s linear;
}
 .right{
  display: flex;
  align-items: center;
  gap: 10px;
 }
 
.contactus{
  border: 0 solid;
  border-radius: 5px;
  background-color: #86B5A9;
  height: 50px;
  padding: 10px 30px;
}
.moon{
  width: 20px;
}
.blacklogo{
  width: 80px;
  cursor: pointer;
}
.brand{
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: #ECE5DF;
  padding: 0 30px;
}
.brand-left{
  width: 45%;
  padding-top: 150px;

}
.brand-right{
  width: 45%;
}

.brand-left>h1{
  font-size: 4.2rem;
  padding: 50px 0;
}
.brand-left>p{
  font-size: 1.4rem;
  padding:0 0 50px 0;
  line-height: 2rem;
  font-weight: lighter;
  color: #413325;

}
.brand-left>a{
  display: inline-block;
  width: 150px;
  height: 50px;
  padding: 0 10px;
  background-color: #86B5A9;
  align-content: center;
  text-align: center;
  border: 0px solid;
  border-radius: 5px;
 }
.brand-left>a{
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold; 
}
#logos{
display: flex;
align-items: center;
padding: 0 2rem;
gap: 30px;
background-color: #F9F8F4;
}
.manufacture{
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: #F9F8F4;
  padding: 20px 50px;
}
.manufacture-left{
  width: 45%;
}
.manufacture-right{
  width: 45%;
}
.manufacture-right>h1{
  font-size: 3.5rem;
  padding: 50px 0;
}
.manufacture-right>p{
  font-size: 1.1rem;
  line-height: 1.7rem;
  padding:0 0 20px 0;
  font-weight: lighter;
  color: #413325;
 width: 90%;
}
.manufacture-right>.p2{
padding-bottom: 70px;
color: #413325;
}

.manufacture-right>a{
  display: inline-block;
  width: 200px;
  height: 50px;
  padding: 0 15px;
  background-color: #86B5A9;
  align-content: center;
  text-align: center;
  border: 0px solid;
  border-radius: 5px;
 }
.manufacture-right>a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: bold; 
}
.creation{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #F9F8F4;

}
.creation-top{
  width:60%;
  padding: 100px 0 0 0;
}
.creation-top>h1{
  font-size: 4rem;
}
.creation-sub{
  display: flex;
  gap: 40px;
  width: 100%;
}
.creation-sub-left{
  width: 55%;
  padding: 200px 0px 0 80px;
}
.creation-sub-left>img{
  width: 100%;
  height: 70%;
}
.creation-sub-right{
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.creation-sub-right>img{
  height: 45%;
  width: 100%;
}

.what-we-do{
  width: 100%;
  display: grid;
  /* grid-template-columns: repeat(2,1fr); */
  grid-template-columns: 2fr 1fr  ;
  padding:120px 70px 80px 50px;
  background-color: #ECE5DF;
}
.what-we-do-left>h1{
  font-size: 4rem;
  color: #413325;
}
.what-we-do-right>p{
  font-weight: lighter;
  font-size: 1.2rem;
  line-height: 1.7rem;
  padding-bottom: 40px;
  color: #413325;
}
.what-we-do-right>a{
font-size: 1.1rem;
color: black;
}
.what-we-do-right>a:hover{
  color: #86B5A9;
  transition: 0.5s ease;
}
/* .what-we-do{
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
  width: 100%;
  height: 500px;
} */

.what-icons{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 40px 0 70px 0;
  gap: 30px;
  background-color: #ECE5DF;  

}
.what-icon{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.what-icon>img{
  width: 75px;
}
.what-icon>p{
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: lighter;
  color: #413325;
}

.feature{
  display: flex;
  justify-content:space-evenly;
  width: 100%;
  background-color: #F9F8F4;

}
.feature-left{
  width: 45%;
  padding: 180px 0px 0 60px;
}
.feature-left>img{
  width: 100%;
}
.feature-left>h1{
  font-size: 4rem;
  padding: 20px 0 70px 170px;
}
.i1{
  padding-bottom: 50px;
}
.i2{
  width: 200px;
  height: 40%;
}
.feature-right{
  width: 45%;
  padding: 120px 40px 0 0;
  
}
.feature-right>img{
  width: 100%;
}
.review{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 100px 60px 0 60px;
  background-color: #DFECEA;
}
.review-left>h1{
  font-size: 4rem; 
}
.review-right>p{
  font-size: 1.2rem;
  line-height: 2rem;
  color: #413325;
}
.review-bottom{
width: 100%;
display: grid;
grid-template-columns: repeat(3,1fr);
background-color: #DFECEA;
gap: 30px;
padding: 70px 50px;
}
.review-box{
  padding: 50px;
  border: 0px solid ;
  background-color: white;
}
.review-top>img{
  padding-bottom: 40px;
}
.review-top>p{
  padding-bottom: 30px;
  font-size: 1.2rem;
  line-height: 1.9rem;
  font-weight: lighter;
  color: #413325;
}
.review3{
  padding-top: 90px;
}
.review-profile{
  display: flex;
  align-items: center;
  gap: 20px;
}
.review-profile-text{
  color: #25413B;
}
.review-profile>img{
  width: 70px;
}
.start-own-fashion{
  color: white;
 height: auto;
 background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://www.startyourline.com/images/cta.webp") ;
 background-size: cover;
}
.fashion-head>h1{
  font-size: 4rem;
  text-align: center; 
}
.fashion-head{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 150px;
}
.fashion-head>p{
  font-size: 1.2rem;
  width: 50%;
  line-height: 2rem;
  padding: 50px 0 20px 0;
}
.fashion-head>a{
  display: inline-block;
  text-decoration: none;
  color: white;
  width: 150px;
  height: 50px;
  padding: 0 10px;
  background-color: #86B5A9;
  align-content: center;
  text-align: center;
  border: 0px solid;
  border-radius: 5px;
 }
.fashion-button a:hover{
  background-color: green;
  transition:0.5s ease ;
}
.footer{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #13201E;
  padding: 60px;
}
.footer-left{
  width: 55%;
  height: auto;
}
.sitemap,.social,.contact{
  color: white;
  display: flex;
  flex-direction: column;
}
.sitemap>a,.social>a{
  text-decoration: none;
  color: white;
  padding-top: 20px;
}
.footer-right{
  width: 35%;
display: flex;
gap: 50px;
}
.sitemap>a:hover,.social>a:hover:hover{
  color: #86B5A9;
  text-decoration: underline;
  transition: 0.5s ease;
}
 /* .footer-right:hover{
  color: #86B5A9;
  text-decoration: underline;
  transition: 0.5s ease;
 } */
  .contact>li{
   list-style-type: none;
   padding-top: 10px;
  }
  .contact li a{
    color: white;
    text-decoration: none;
  }
.footer-bottom{
  background-color: #13201E;
  text-align: center;
  color: white;
  padding-bottom: 70px;
}
.contact li{
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact a:hover{
  color: #86B5A9;
  text-decoration: underline;
  transition: 0.5s ease;
}
.footer-bottom{
  /* padding: 20px; */
  border-top: 2px  solid white;
  padding-top: 30px;
}
.footer-bottom a{
  text-decoration: none;
  color: white;
}
.footer-bottom a:hover{
  color: #86B5A9;
  text-decoration: underline;
  transition: 0.5s ease;
}

@media (max-width:400px){
  .links{
    display: none;
  }
  .right>a, .right>img,.right-1>img{
    display: none;
  }
  .right-1>a{
    text-decoration: none;
    color: black;
  }

  .checkbox-toggle{
    display: none;
  }
  .navbar{
    display: flex;
    position: relative;
  }
  .sidebar{
    margin-top: 87px;
  }
  .checkbox-toggle:checked ~ .sidebar{
    display: flex;
  }
  .brand-right>img{
    display: none;
  }
  .brand{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://www.startyourline.com/images/landing-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 100vw;
    height: auto;
  }
  .brand-left>h1{
    display: inline-block;
   font-size: 1.5rem;
   color: white;
    position: absolute;
    top: 0px;
  }
  .brand-left{
    overflow-x: none;
    padding-top: 120px;
  }
  .brand-left>p{
    font-size: 0.7rem;
    color: white;
    line-height: 1rem;
  }
  .brand-left>a{
    width: 70%;
    font-size: 1rem;
  }
  #logos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 0px;
    row-gap: 0px;
    padding-top: 40px;
  }
   /* #logos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   } */
  .logo{
    display: grid;
    width: 100px;
    gap: 0px;
  }
  .manufacture{
    display: flex;
    flex-direction:column;
    width: 100%;
    padding: 0 30px;
  }
  .manufacture-left{
    width: 100%;
    height: auto;
  }
  .manufacture-left>img{
   width: 100vw;
   height: 80vh;
   padding-top: 50px;
  }
  .manufacture-right{
    width: 100%;
    height: auto;
  }
  .manufacture-right>h1{
    font-size: 2rem;
    padding: 20px 0;
  }
  .manufacture-right>p{
    font-size: 0.8rem;
  }
  .manufacture-right>.p2{
    padding-bottom: 30px;
  }
   .manufacture-right>a{
    width: 150px;
    height: auto;
    background-color: #86B5A9;
   }
  .creation{
    width:100%;
    padding: ;
  }
  .creation-top{
    width: 100vw;
    height: auto;
    padding: 50px 0;
  }
  .creation-top>h1{
    font-size: 2.4rem;
    padding: 0 40px;
  }
  .creation-sub{
    width: 100vw;
    height: auto;
  }
  .creation-sub-left{
  padding: 100px 0 0 20px;
  }
  .what-we-do{
    display: flex;
    flex-direction: column;
  padding:50px 50px 0px 30px;
  }
  .what-we-do-left>h1{
    font-size: 2rem;
  }
  .what-we-do-right>p{
    font-size: 1rem;
    padding-top: 10px;
  padding-bottom: 20px;
  }
  .what-icons{
    display: flex;
    flex-direction: column;
  }
  .what-icon{
    align-items: center;
    padding: 0 50px;
  }
  .what-icon>h2{
    text-align: center;
  }
  .feature{
    width: 100vw;
  }
  .feature-left{
    width: 100vw;
    height: auto;
    padding: 50px 0px 0 10px;

  }
  .feature-left>h1{
    font-size: 2rem;
    padding: 20px 0 30px 50px;
  }
  .feature-left>img{
    width: 80%;
    height: 250px;
    display: flex;
  }
  .feature-right{
    width: 70%;
    padding: 150px 40px 0 0;
  }
  .review{
    width: 100%;
  }
  .review{
    display: flex;
    flex-direction: column;
    padding: 50px 30px 0 30px;
  }
  .review-left>h1{
    font-size: 2rem;
    padding-bottom: 20px;
  }
  .review-right>p{
    font-size: 1rem;
  }
  .review-bottom{
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
  }
  .review-top>p{
    font-size: 1rem;
  }
  .review-profile-text>h2{
    font-size: 1rem;
  }
  .review-profile-text>p{
    font-size: 0.7rem;
  }
  .fashion-head{
    padding-top: 50px;
  }
  .fashion-head>h1{
    font-size: 2rem;
  }
  .fashion-head>p{
    width: 90%;
    font-size: 1rem;
    padding-top: 20px;
  }
  .footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  } 
  .footer-right,.footer-left{
    display: flex;
    flex-direction:column;
    align-content: center;
    text-align: center;
    width: 100%;
    padding: 20px;
  }
  .footer-left{
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .sitemap>a,.social>a{
    font-size:0.8rem;
  }
  .contact{
    align-items: center;
  }
  .contact a{
    font-size: 0.8rem;
  }
  .footer-bottom span{
    font-size: 0.7rem;
  }
  .footer-bottom a{
    font-size: 0.7rem;
  }
}

@media (min-width:401px) and (max-width:768px){
  .links{
    display: none;
  }
  .right>a, .right>img,.right-1>img{
    display: none;
  }
  .right-1>a{
    text-decoration: none;
    color: black;
  }

  .checkbox-toggle{
    display: none;
  }
  .navbar{
    display: flex;
    position: relative;
  }
  .sidebar{
    margin-top: 87px;
  }
  .checkbox-toggle:checked ~ .sidebar{
    display: flex;
  }
  .brand-right>img{
    display: none;
  }
  .brand{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://www.startyourline.com/images/landing-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 100vw;
    height: auto;
  }
  .brand-left>h1{
    display: inline-block;
   font-size: 1.7rem;
   color: white;
    position: absolute;
    top: 0px;
  }
  .brand-left{
    overflow-x: none;
    padding-top: 120px;
  }
  .brand-left>p{
    font-size: 0.8rem;
    color: white;
    line-height: 1rem;
  }
  .brand-left>a{
    width: 70%;
    font-size: 1.1rem;
  }
  #logos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 0px;
    row-gap: 0px;
    padding-top: 40px;
  }
   #logos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   }
  .logo{
    display: grid;
    width: 100px;
    gap: 0px;
  }
  .manufacture{
    display: flex;
    flex-direction:column;
    width: 100%;
    padding: 0 30px;
  }
  .manufacture-left{
    width: 450px;
    height: auto  ;
    width: 100%;
  }
  .manufacture-left>img{
   width: 450px;
   height:auto;
   padding-top: 50px;
  }
  .manufacture-right{
    width: 100%;
    height: auto;
  }
  .manufacture-right>h1{
    font-size: 2.1rem;
    padding: 20px 0;
  }
  .manufacture-right>p{
    font-size: 1rem;
  }
  .manufacture-right>.p2{
    padding-bottom: 30px;
  }
   .manufacture-right>a{
    width: 150px;
    height: auto;
    font-size: 1.1rem;
    padding: 10px;
    background-color: #86B5A9;
   }
  .creation{
    width:100%;
  }
  .creation-top{
    width: 100vw;
    height: auto;
    padding: 50px 0;
  }
  .creation-top>h1{
    font-size: 2.4rem;
    padding: 0 40px;
  }
  .creation-sub{
    width: 100vw;
    height: auto;
  }
  .creation-sub-left{
  padding: 100px 0 0 20px;
  }
  .what-we-do{
    display: flex;
    flex-direction: column;
  padding:50px 50px 0px 30px;
  }
  .what-we-do-left>h1{
    font-size: 2.2rem;
  }
  .what-we-do-right>p{
    font-size: 1rem;
    padding-top: 10px;
  padding-bottom: 20px;
  }
  .what-icons{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .what-icon{
    align-items: center;
    padding: 0 50px;
  }
  .what-icon>h2{
    text-align: center;
  }
  .what-icon>p{
    font-size: 1rem;
  }
  .feature{
    width: 100vw;
  }
  .feature-left{
    width: 100vw;
    height: auto;
    padding: 50px 0px 0 10px;
  }
  .feature-left>h1{
    font-size: 2.3rem;
    padding: 20px 0 30px 50px;
  }
  .feature-left>img{
    width: 80%;
    height: 400px;
    display: flex;
  }
  .feature-right{
    width: 70%;
    padding: 150px 40px 0 0;
  }
  .review{
    width: 100%;
  }
  .review{
    display: flex;
    flex-direction: column;
    padding: 50px 30px 0 30px;
  }
  .review-left>h1{
    font-size: 2.4rem;
    padding-bottom: 20px;
  }
  .review-right>p{
    font-size: 1rem;
  }
  .review-bottom{
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
  }
  .review-top>p{
    font-size: 1rem;
  }
  .review-profile-text>h2{
    font-size: 1.4rem;
  }
  .review-profile-text>p{
    font-size: 0.7rem;
  }
  .fashion-head{
    padding-top: 50px;
  }
  .fashion-head>h1{
    font-size: 2.2rem;
  }
  .fashion-head>p{
    width: 90%;
    font-size: 1rem;
    padding-top: 20px;
  }
  .footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  } 
  .footer-right,.footer-left{
    display: flex;
    flex-direction:column;
    width: 100%;
    padding: 20px;
  }
  .sitemap>a,.social>a{
    font-size:0.9rem;
  }
  .contact a{
    font-size: 0.8rem;
  }
  .footer-bottom span{
    font-size: 0.8rem;
  }
  .footer-bottom a{
    font-size: 0.8rem;
  }
   
}
@media (min-width:769px) and (max-width:1024px){
  .checkbox-toggle{
    display: none;
  }
  label{
    display: none;
  }
  .logo-black>img{
    width: 50px;
  }
  .links>a{
    font-size: 1rem;
  }
  .brand{
    width: 100%;
  }
  .brand-left{
    width: 40%;
  }
  .brand-right{
    width: 60%;
  }
  .brand-left>h1{
   font-size: 2.1rem;
    top: 0px;
  }
  .brand-left{
    overflow-x: none;
    padding-top: 120px;
  }
  .brand-left>p{
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  .brand-left>a{
    width: 70%;
    font-size: 1.2rem;
  }
  .manufacture{
    width: 100%;
    padding: 30px;
  }
  .manufacture-left{
    width: 60%;
    height: auto; 
  }
  .manufacture-right{
    width: 40%;
  }
  .manufacture-right>h1{
    font-size: 2.2rem;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .manufacture-right>p{
    font-size: 1.1rem;
    padding-top: 0px;
    line-height: 1.3rem;
  }
  .what-we-do-right>p{
    font-size: 1rem;
    padding-bottom: 10px;
  }
  .what-icons{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .what-icon{
    align-items: center;
    padding: 0 50px;
  }
  .what-icon>h2{
    text-align: center;
  }
  .what-icon>p{
    font-size: 1rem;
  }
  .feature-left>h1{
    font-size: 2.5rem;
    padding: 10px 0 30px 50px;
  }
  .review-bottom{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .fashion-head{
    padding-top: 70px;
  }
  .footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
  }
  .footer-right{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width:1025px) and (max-width:1440px){
  .checkbox-toggle{
    display: none;
  }
  label{
    display: none;
  }
  .links>a{
    font-size: 1.2rem;
  }
  .brand{
    width: 100%;
  }
  .brand-left{
    width: 40%;
  }
  .brand-right{
    width: 60%;
  }
  .brand-left>h1{
   font-size: 2.7rem;
    top: 0px;
  }
  .brand-left{
    overflow-x: none;
    padding-top: 120px;
  }
  .brand-left>p{
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  .brand-left>a{
    width: 70%;
    font-size: 1.3rem;
  }
  .manufacture{
    width: 100%;
    padding: 30px;
  }
  .manufacture-left{
    width: 60%;
    height: auto; 
  }
  .manufacture-right{
    width: 40%;
  }
  .manufacture-right>h1{
    font-size: 2.5rem;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .manufacture-right>p{
    font-size: 1.3rem;
    padding-top: 0px;
    line-height: 1.3rem;
  }
  .what-we-do-right>p{
    font-size: 1.4rem;
  }
  .what-we-do-right>a{
    font-size: 1.3rem;
  }
  .what-icon>h2{
    font-size: 1.5rem;
  }
  .what-icon>p{
    font-size: 1.2rem;
  }
  .review-right>p{
    font-size: 1.4rem;
  }
  .review-bottom>p{
    font-size: 1.4rem;
  }
  .r4{
    padding-top: 160px;
  }
  .footer-right{
    width: 50%;
  }
}
@media (min-width:1441px) and (max-width:2350px){
  .checkbox-toggle{
    display: none;
  }
  label{
    display: none;
  }
  .right{
    display: flex;
    gap: 20px;
  }
}
